.currency_title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 600;
}

.currency_container {
  display: flex;
  flex-direction: row;
  border: 2px solid var(--secondary);
  border-radius: 5px;
  overflow: hidden;
}

.button {
  flex: 1;
  padding: 10px 20px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;

  background-color: #fff;

  transition: background-color 0.3s;

  cursor: pointer;
}

.button:not(:last-of-type) {
  border-right: 2px solid var(--secondary);
}

.active,
.button:hover {
  background-color: var(--secondary);
  color: var(--text-white);
}

/* для IE11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .currency_ie11 {
    margin-bottom: 20px;
  }

  .button_currency_ie11 {
    min-width: 80px;
  }
}
